body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 20px;
    max-width: 800px;
}

h1 {
    position: relative;
}

table {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
}

tbody {
    text-align: center;
}
td {
    padding: 10px 10px 10px 0px;
}

li {
    list-style-type: none
}

nav ul{
    white-space: nowrap;
}
nav li{
    width: 20%; 
    display: inline-block;
    margin: 0 auto;		/* 0 top/bottom, auto-adjust to left/right */
    
}

.buttons li { 
    list-style-type: none;
    display: inline;
}

button {
    list-style: none;
    margin: 5pt;
    padding: 3pt;
    color: black;
    background-color: #CFECF5;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10%;
    border: 1.5px solid black;
    box-shadow: none;
    outline: none;
}

form input[type="submit"] {
    list-style: none;
    margin: 5pt;
    padding: 3pt;
    color: black;
    background-color: #CFECF5;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10%;
    border: 1.5px solid black;
    box-shadow: none;
    outline: none;
}

#account {
    width: 50%;
}

#account th {
    text-align: left;
}

#account tr {
    text-align: left;
}

a:link {
    text-decoration: none;
    color: blue;
  }
  
a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: none;
    color: orange;
}

a:active {
    text-decoration: underline;
}