<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Add a Book</title>
    <meta charset="UTF-8">
    <meta name="description" content="A simple Node app with a MySQL backend.">
    <meta name="author" content="Barnaby Thieme">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1>Add a Book</h1>
    </header>

    <nav>{{>nav}}</nav>

    <main>

        <p>Enter your book's ISBN to add its information automatically:</p>

        <form id="addBookIsbn" method="post" action="/book/add/isbn">
            <input type="isbn" id="isbn" placeholder="ISBN" name="isbn" required>
            <br><br>
            <!--submit--> 
            <input type="submit" id="submitButtonIsbn" value="Submit">
            {{!-- <button type="button" id="submitButtonIsbn" value="submitButtonIsbn">Submit</button> --}}
        </form>

        <p>Or you can enter your book manually:</p>

        <form id="addBook" method="post" action="/book/add">
            <input type="text" id="title" placeholder="Title" name="title" required>
            <br><br>
            <input type="text" id="authorFirstName" placeholder="Author's First Name" name="authorFirstName" required>
            <br><br>
            <input type="text" id="authorLastName" placeholder="Author's Last Name" name="authorLastName" required>
            <br><br>
            <input type="text" id="pubYear" placeholder="Year of Publication" name="pubYear">
            <br><br>
            <input type="text" id="pub" placeholder="Publisher" name="pub">
            <br><br>
            <input type="text" id="numPages" placeholder="Number of Pages" name="numPages">
            <br><br>
            <input type="text" id="desc" placeholder="Description" name="desc">
            <br><br>
            <!--submit--> 
            <input type="submit" id="submitButton" value="Submit">
            {{!-- <button type="button" id="submitButton" value="submit">Submit</button> --}}
        </form>

    </main>
</body>
</html>