<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Add a Book</title>
    <meta charset="UTF-8">
    <meta name="description" content="A simple Node app with a MySQL backend.">
    <meta name="author" content="Barnaby Thieme">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <h1>Add a Book</h1>
    </header>

    <nav>{{>nav}}</nav>

    <main>
        <p>We recommend using our ISBN lookup to automatically retrieve your book's
            information:
        </p>

        <form id="addBookIsbn" method="post" action="/book/add/isbn">
            <input type="isbn" id="isbn" placeholder="ISBN" name="isbn" required>
            <br><br>
            <!--submit--> 
            <input type="submit" id="submitButtonIsbn" value="Submit">
        </form>

        <p>Or you can enter your book manually:</p>

        <form id="addBook" method="post" action="/book/add">
            <input type="text" id="title" placeholder="Title" name="title" required>
            <br><br>
            <input type="text" id="authorFirstName" placeholder="Author's First Name" name="authorFirstName" required>
            <br><br>
            <input type="text" id="authorLastName" placeholder="Author's Last Name" name="authorLastName" required>
            <br><br>
            <input type="text" id="pubYear" placeholder="Year of Publication" name="pubYear">
            <br><br>
            <input type="text" id="pub" placeholder="Publisher" name="pub">
            <br><br>
            <input type="text" id="numPages" placeholder="Number of Pages" name="numPages">
            <br><br>
            <textarea id="review" name="review" rows="6" cols="100" placeholder="Review"></textarea>
            <br><br>
            <!--submit--> 
            <input type="submit" id="submitButton" value="Submit">
        </form>
    </script>

    </main>
</body>
</html>