<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Admin</title>
    <meta charset="UTF-8">
    <meta name="description" content="A library inventory service for book collectors.">
    <meta name="author" content="Barnaby Thieme">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <h1>Admin</h1>
    </header>

    <nav>
        {{>nav}}
    </nav>

    <main>
        <p>The following button will completely delete and recreate the Library database. Use with caution - all records will be permanently deleted.</p>
        <form method="post" action="/initializeDb" onsubmit="return confirm('Are you sure you want to delete your database? This action cannot be reversed.');">
        <input type="submit" id="initializeDb" value="Delete">
    </main>
</body>

</html>