<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Admin</title>
    <meta charset="UTF-8">
    <meta name="description" content="A library inventory service for book collectors.">
    <meta name="author" content="Barnaby Thieme">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <h1>Admin</h1>
    </header>

    <nav>
        {{>nav}}
    </nav>

    <main>
        <h2>Delete Database</h2>

        <p>The following button will permanently delete the Library database. It will be recreated as soon as you navigate to the site root.</p>
        
        <p>Use with caution - all records will be deleted.</p>

        <form method="post" action="/initializeDb" onsubmit="return confirm('Are you sure you want to delete your database? This action cannot be reversed.');">
        <input type="submit" id="initializeDb" value="Delete">

        <h2>Create User Account</h2>

        <form id="createAccount" method="post" action="/user/create">
            <input type="text" id="username" placeholder="user name" name="username">
            <br><br>
            <input type="text" id="firstName" placeholder="first name" name="firstName">
            <br><br>
            <input type="text" id="lastName" placeholder="last name" name="lastName">
            <br><br>
            <input type="password" id="password" placeholder="password" name="password">
            <br><br>
            <input type="password" id="passwordConfirm" placeholder="confirm password" name="passwordConfirm">
            <br><br>
            <!--submit-->
            <input type="submit" id="createAccountButton" value="Create Account">
        </form>
    </main>
</body>

</html>