<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Create an Account</title>
    <meta charset="UTF-8">
    <meta name="description" content="A library inventory service for book collectors.">
    <meta name="author" content="Barnaby Thieme">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <link rel="stylesheet" type="text/css" href="../../css/jquery.toast.css">
    {{!-- <script src="../../js/create_account.js" defer></script> --}}
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../../js/jquery.toast.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" />
</head>

<body>
    <header>
        <h1>Create an Account</h1>
    </header>

    <nav>{{>nav}}</nav>

    <main>
        <p>Welcome to Bibliotech, an online service for book lovers to easily track their collections.</p>

        <p>Please create a free account to get started!</p>
        
        <form id="createAccount" method="post" action="/user/create">
            <input type="text" id="username" placeholder="user name" name="username">
            <br><br>
            <input type="text" id="firstName" placeholder="first name" name="firstName">
            <br><br>
            <input type="text" id="lastName" placeholder="last name" name="lastName">
            <br><br>
            <input type="password" id="password" placeholder="password" name="password">
            <br><br>
            <input type="password" id="passwordConfirm" placeholder="confirm password" name="passwordConfirm">
            <br><br>
            <!--submit-->
            <input type="submit" id="createAccountButton" value="Create Account">
        </form>

    </main>
</body>

</html>