<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Bibliotech</title>
    <meta charset="UTF-8">
    <meta name="description" content="A library inventory service for book collectors.">
    <meta name="author" content="Barnaby Thieme">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <link rel="stylesheet" type="text/css" href="../../css/jquery.toast.css">
    <script src="../../js/create_account.js" defer></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../../js/jquery.toast.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" />
</head>

<body>
    <header>
        <h1>Bibliotech</h1>
    </header>

    <main>
        <p>Welcome to Bibliotech, an online service for book lovers to easily track their collections. Please log in to
            continue.</p>

        <form id="login" method="post" action="/library">
            <input type="text" name="username" id="username" placeholder="user name" required>
            <br><br>
            <input type="password" name="password" id="password" placeholder="password" required>
            <br><br>
            <input type="submit" id="loginButton" value="Log In">
        </form>

        <p>If you are new here, please <a href="/user/create">create a free account</a> to get started!</p>
    </main>
</body>

</html>