<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Your Library</title>
    <meta charset="UTF-8">
    <meta name="description" content="A library inventory service for book collectors.">
    <meta name="author" content="Barnaby Thieme">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1>Your Library</h1>
    </header>

    <nav>{{>nav}}</nav>

    <main>

    <ul>
        <li><a href="/book">Your Book</a></li>
    </ul>

    </main>
</body>

</html>