<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Your Library</title>
    <meta charset="UTF-8">
    <meta name="description" content="A library inventory service for book collectors.">
    <meta name="author" content="Barnaby Thieme">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" />
</head>

<body>
    <header>
        <h1>Your Library</h1>
    </header>

    <nav>{{>nav}}</nav>

    <main>
        <p>Welcome to your library page, {{reqUser.firstName}}. </p>
    </main>

    <div id="library">
        {{{ userBooks }}}
    </div>

</body>

</html>