<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Your Library</title>
    <meta charset="UTF-8">
    <meta name="description" content="A library inventory service for book collectors.">
    <meta name="author" content="Barnaby Thieme">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.toast.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../js/jquery.toast.js"></script>
    <script src="../../js/library.js"></script>
    <link rel="shortcut icon" href="#" />
</head>

<body>
    <header>
        <h1>Your Library</h1>
    </header>

    <nav>{{>nav}}</nav>

    <main>    

        {{#if reqUser.firstName}}
            <p>Welcome to your library page, {{reqUser.firstName}}.</p>
        {{/if}}

        {{#unless reqUser.firstName}}
            <p>Welcome to your library page.</p>
        {{/unless}}
    
        <div id="library">{{>library}}</div>
    
    </main>
</body>

</html>