<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Account Updated</title>
    <meta charset="UTF-8">
    <meta name="description" content="A library inventory service for book collectors.">
    <meta name="author" content="Barnaby Thieme">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <h1>Account Updated</h1>
    </header>

    <nav>{{>nav}}</nav>

    <main>

        <p>Your account has been successfully updated!</p>

    </main>
</body>

</html>