<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Update {{title}}</title>
    <meta charset="UTF-8">
    <meta name="description" content="A library inventory service for book collectors.">
    <meta name="author" content="Barnaby Thieme">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1>Update {{title}}</h1>
    </header>

    <nav>{{>nav}}</nav>

    <main>

    <div id="book">{{>book}}</div>

    

    </main>
</body>

</html>